<!--The content below is only a placeholder and can be replaced.-->
<!-- Ergozeichen-->
<div class="col-12 col-md-12 top-nav">
  <img id="top-img" src="../assets/image/ergozeichen.png">
</div>
<div id= firstdiv class="container">
  <!-- Headline-->
  <div *ngIf="width > 400" class= "col-4 abstand-top side-bar">
    <div class=" col-4 col-md-2 justify-content-start icon-style">
        <i id="bicyle-icon" [style.color]="!kategoriegroup.productauswahl ? 'black' : 'green'" class="fas fa-bicycle fa-4x"></i>
    </div>
    <div class="col-4 col-md-2 justify-content-start icon-style">
        <i id="erste-pfeile" class="fas fa-angle-double-right fa-2x"></i>
    </div>
    <div class=" col-4 col-md-2 justify-content-start icon-style">
        <i id="time-icon" [style.color]="!answer_age ? 'black' : 'green'" class="far fa-clock fa-4x"></i>
    </div>
    <div class="col-4 col-md-2 justify-content-start icon-style">
        <i id="zweite-pfeile" class="fas fa-angle-double-right fa-2x"></i>
    </div>
    <div class=" col-4 col-md-2 justify-content-start icon-style">
        <i id="cash-icon" [style.color]="!preis ? 'black' : 'green'" class="far fa-money-bill-alt fa-4x"></i>
    </div>
  </div>
  <div *ngIf="width < 401" class= "col-4 abstand-top side-bar">
    <div class=" col-4 col-md-2 justify-content-start icon-style">
        <i id="bicyle-icon" [style.color]="!kategoriegroup.productauswahl ? 'black' : 'green'" class="fas fa-bicycle fa-3x"></i>
    </div>
    <div class="col-4 col-md-2 justify-content-start icon-style">
        <i id="pfeile-icon" class="fas fa-angle-double-right fa-1x"></i>
    </div>
    <div class=" col-4 col-md-2 justify-content-start icon-style">
        <i id="time-icon" [style.color]="!answer_age ? 'black' : 'green'" class="far fa-clock fa-3x"></i>
    </div>
    <div class="col-4 col-md-2 justify-content-start icon-style">
        <i id="pfeile-icon" class="fas fa-angle-double-right fa-1x"></i>
    </div>
    <div class=" col-4 col-md-2 justify-content-start icon-style">
        <i id="cash-icon" [style.color]="!preis ? 'black' : 'green'" class="far fa-money-bill-alt fa-3x"></i>
    </div>
  </div>
  <!-- Beitragsrechner-->
  <div class="col-12 col-sm-6 col-md-8 justify-content-center eingabe-bereich row">
    <!--weiter-->
    <div>
      <div class="jumbotron jumbotron-anpassung" style="background-color: white">
        <h1 class="display-4">Beitragsrechner <p>Gegenstandsversicherung</p></h1>
        <p class="lead">Welchen Gegenstand möchten Sie versichern?</p>
        <select class="form-control" (change)="kategoriegroup.setZweiteKategorie($event.target.value)">
          <option hidden>Produktkategorie</option>
          <option *ngFor="let option of kategoriegroup.erstekategorie" [value]="option">{{option}}</option>
        </select>
        <br>
        <select class="form-control" *ngIf="kategoriegroup.ersteauswahl" (change)="kategoriegroup.setFinalProduct($event.target.value)">
          <option hidden>bitte auswählen</option>
          <option *ngFor="let option of kategoriegroup.zweitekategorie" [value]="option">{{option}}</option>
        </select>
        <div *ngIf="kategoriegroup.productauswahl" id="age_div">
          <hr class="my-4">
          <p class="lead">Ist Ihr {{kategoriegroup.productauswahl}} älter als {{kategoriegroup.maxjahr}}?</p>
          <select id="age" class="form-control" (change)="setAlert($event.target.value)">
            <option hidden> - Bitte auswählen - </option>
            <option value="yes">Ja</option>
            <option value="no">Nein</option>
          </select>
          <div *ngIf="kategoriegroup.mussalert" id="age_error">
            <br>
            <div class="alert alert-danger" role="alert">
              Leider können wir Ihr {{kategoriegroup.productauswahl}} nur versichern, wenn es nicht älter als {{kategoriegroup.maxjahr}} ist.
            </div>
          </div>
      </div>
      <div *ngIf="kategoriegroup.zeigepreisdiv" id="price_div">
        <hr class="my-4">
        <p class="lead">Wie viel hat Ihr {{kategoriegroup.productauswahl}} gekostet?</p>
        <div class="input-group col-sm-12 mb-3 flex-nowrap">
          <div class="col-sm-8">
            <input [min]="min"
                   [max]="max" 
                   type="range" class="custom-range" 
                   id="formControlRange" 
                   (change)="changePreis($event.target.value)" 
                   [value]="preis">
          </div>
          <div class="col-sm-3">
            <input [min]="min" 
                   [max]="max" 
                   class="form-control" 
                   id="exampleFormControlInput1" 
                   placeholder="1" 
                   (change)="changePreis($event.target.value)" 
                   [value]="preis">
          </div>
          <div class="col-sm-1 input-group-append">
            <span class="input-group-text">€</span>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
  <div *ngIf="preis" class="col-12 col-sm-6 col-md-8 justify-content-center eingabe-bereich row">
    <div class="jumbotron jumbotron-anpassung" style="background-color: rgb(142,0,56); color: white">
      <div id="Beitrag_div" class="lead">
        <TABLE class="col-sm-12">
          <TR>
            <TD ALIGN="LEFT">
              Ihr monatlicher Beitrag im ersten Jahr beträgt:
            </TD>
            <TD align="right">
              {{beitraege[0].monatsbetrag}} € <!-- TODO Li bitte item einfügen -->
            </TD>
          </TR>
          <TR>
            <TD ALIGN="LEFT">
              Ihre Leistung im Schadenfall:
            </TD>
            <TD align="right">
              {{beitraege[0].versicherungssumme}} € <!-- TODO Li bitte item einfügen -->
            </TD>
          </TR>
        </TABLE>
      </div>
    </div>
  </div>
</div>
